<header class="navbar navbar-fixed-top w-100 navbar-inverse">
  <div class="container fluid">
        <nav class="nav navbar-nav navbar-left">
      <span class=" h3 text-muted">Bookers</span>
    </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li class="nav-item"><%= link_to root_path do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span></li><% end %>
          </li>
          <li class="nav-item"><%= link_to users_path do %>
            <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span></li><% end %>
          <li class="nav-item"><%= link_to books_path do %>
            <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span></li><% end %>
          <li class="nav-item"><%= link_to destroy_user_session_path, method: :delete do %><span class="glyphicon glyphicon-log-out" aria-hidden="true"> logout</span></li><% end %>
          <% else %>
          <li class="nav-item"><%= link_to root_path do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span></li><% end %>
          <li class="nav-item"><%= link_to home_about_path do %>
            <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span></li><% end %>
          <li class="nav-item"><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-check" aria-hidden="true"> sign up</span></li><% end %>
          <li class="nav-item"><%= link_to new_user_session_path do %>
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"> login</span></li><% end %>
          <% end %>
        </ul>
      </nav>
  </div>
</header>



<h2>Sign up</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %></div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
