<%= render 'users/header', user: @user %>

<%= render 'users/userinfo', book: @book %>




<div class="col-xs-9">
<h1>Books</h1>
	<table class="table">
		<thead>
			<tr>
				<th colspan="1"></th>
				<th>Title</th>
				<th>opinion</th>
			</tr>
		</thead>
		<% @user.books.each do |book| %>
		<tbody>
			<tr>
				<th>
					<%= attachment_image_tag book.user, :profile_image, size:"40x40", fallback: "no_iamge.jpg" %></th>
		
				<th><%= link_to book_path(book) do %>
					<%= book.title %></th><% end %>
				<th><%= book.body %></th>
			</tr>
		</tbody>
		<% end %>
	</table>
</div>
</div>
</div>
<%= render 'users/footer' %>



